<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include ('./partials/_head') %>
    <title>Login</title>
  </head>
  <body>
    <div class="container">
      <div class="card text-center mt-5">
        <div class="card-body">
          <h1><span class="fa fa-lock mr-2"></span>Login or Register</h1>
          <a href="/login" class="btn btn-light btn-lg mb-3">
            <span class="fa fa-user mr-2"></span>Local Login
          </a>
          <a href="/signup" class="btn btn-light btn-lg mb-3">
            <span class="fa fa-user mr-2"></span>Local SignUp
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
